apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-app
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      serviceAccountName: client-sa
      containers:
        - name: client-app
          image: vault.azurecr.io/client-app:v1
          env:
            - name: VAULT_ADDR
              value: http://vault.vault.svc.cluster.local:8200
            - name: VAULT_ROLE
              value: client-app
