apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
        - name: app
          image: vault.azurecr.io/app:v1
          env:
            - name: USER
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: USER
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: PASSWORD
